.cover__overlay {
  max-width: 100%;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
}

.cover__overlay::after {
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: 1s;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  content: '';
}

.cover__overlay:hover:after {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    padding-bottom: 245px;
  }
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    padding-bottom: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    padding-bottom: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    padding-bottom: 33px;
  }
}
